<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
	<resultMap type="com.entity.User" id="userMap">
		<id column="id" property="id"/>
		<result column="idnumber" property="idnumber"/>
		<result column="sex" property="sex"/>
		<result column="name" property="name"/>
		<result column="address" property="address"/>
		<result column="image" property="image"/>
		<result column="phone" property="phone"/>
		<result column="loginName" property="uname"/>
		<result column="loginPwd" property="upass"/>
		<result column="bir" property="birth"/>
	<!-- id,name,sex,bir,address,image,phone,idnumber,loginName,loginPwd -->
	</resultMap>
	<insert id="addUser" parameterType="com.entity.User">
		insert into mvcuser(id,idnumber,loginName,loginPwd) values (mvcuser_seq.nextval,#{idnumber},#{uname},#{upass})
	</insert>
	<select id="findByIdnumber" parameterType="java.lang.String" resultType="com.entity.User" resultMap="userMap">
		select id,name,sex,bir,address,image,phone,idnumber,loginName,loginPwd from mvcuser where idnumber=#{idnumber}
	</select>
	<select id="findByLogin" parameterType="com.entity.User" resultType="com.entity.User" resultMap="userMap">
		select id,name,sex,bir,address,image,phone,idnumber,loginName,loginPwd from mvcuser where loginName=#{uname} and loginPwd=#{upass}
	</select>
	<update id="updateUser"  parameterType="com.entity.User" >
		update mvcuser set name=#{name},sex=#{sex},bir=to_date(#{birth},'yyyy-MM-dd'),address=#{address},image=#{image},phone=#{phone} where id=#{id}
	</update>
	
	<select id="findUsersBySex" parameterType="java.lang.String" resultType="com.entity.User" resultMap="userMap">
		select id,name,sex,bir,address,image,phone,idnumber,loginName,loginPwd from mvcuser where sex=#{sex}
	</select>
</mapper>